.container{
  grid-column: 2/3;
  color: #fff;
  width: 80%;
  margin: 3rem 1rem 0 1rem;
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
  border-radius: 1rem;
  scroll-margin-top: 1ex;
}
.title{
  text-align: center;
  font-family: 'Caprasimo', cursive;
  color: transparent;
  font-size: 4rem;
  padding: 0 .5rem;
  border-bottom: 3px solid #6f1aa0;
  text-shadow: 3px 3px 0 #6f1aa0, -3px -3px 0 #330c49;
}

.cardContainer{
  width: 100%;
  height: auto;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0;
}

.cardTitle{
  width: 100%;
  font-size: 4rem;
  text-align: center;
  color: #6f1aa0;
  text-shadow: 4px 3px 0 #2d0f3f;
}

.imgCon{
  height: 16rem;
  width: 45%;
  margin: 1.5rem auto 0 auto;
  overflow: hidden;
}
.imgCon ul{
  display: flex;
  width: 300%;
  height: 16rem;
  animation: slide 12s infinite ease-in-out;
}
.imgCon li{
  list-style: none;
  width: 100%;
}
.cardImg{
  height: 16rem;
  width: 100%;
  outline: 2px solid #4067e6;
}

.cardDesCon{
  width: 50%;
}

.cardDescription{
  width: 90%;
  margin: 0 auto;
  font-size: 1.5rem;
  margin: 1rem auto;
  text-align: justify;
}

.tecno{
  list-style: none;
  width: 90%;
  font-size: 1.5rem;
  margin: 0 auto;
}

.resal{
  color: #6f1aa0;
}

.btn{
  text-decoration: none;
  font-size: 1.5rem;
  background: linear-gradient(to top left, #4067e6, #6f1aa0);
  width: auto;
  padding: .5rem 1rem;
  margin: 1rem 2rem;
  color: #fff;
  position: relative;
  right: 1.5rem;
  border-radius: 1rem;
  outline: 2px solid #fff;
  transition: .3s;
}

.btn:hover{
  background-color: #000;
  box-shadow: 5px 6px 0 #9c23e2, -5px -6px 0 #4992e6;
  color: #fff;
  scale: 1.05;
}

@keyframes slide {
  0% {margin-left: 0%;}
  30% {margin-left: 0%;}

  35% {margin-left: -100%;}
  65% {margin-left: -100%;}

  70% {margin-left: -200%;}
  100% {margin-left: -200%;}
}