.container {
  grid-column: 2/3;
  color: #fff;
  width: 90%;
  margin: 1rem 0 3rem;
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
  border-radius: 1rem;
  scroll-margin-top: 1ex;
}

.title {
  font-family: 'Martian Mono', monospace;
  border-bottom: 2px solid #dad60e;
  text-align: center;
  color: transparent;
  font-size: 4rem;
  text-shadow: 0 0 0 #dad60e, 0 5px 0 #7c7b19;
  margin: 2rem 0;
}

.content {
  width: 100%;
  margin: 1rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
  border-radius: 2rem;
}

.icon {
  width: 90%;
  height: 90%;
}

.iconContainer {
  width: 6rem;
  height: 6rem;
  padding: 0.5rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  outline: 2px solid #888;
  box-shadow: -5px 5px 0 2px #888;
  transition: 0.3s;
}

.iconContainer:hover {
  scale: 1.2;
  outline: 2px solid #dad60e;
  box-shadow: -5px 5px 0 2px #dad60e;
}

.iconContainer:nth-child(1) {
  color: #f64a1d;
}
.iconContainer:nth-child(2) {
  color: #0068ba;
}
.iconContainer:nth-child(3) {
  color: #f7df1e;
}
.iconContainer:nth-child(4) {
  color: #7ec727;
}
.iconContainer:nth-child(5) {
  color: #1399c4;
}
.iconContainer:nth-child(6) {
  color: #7649bb;
}
.iconContainer:nth-child(7) {
  color: #097ecd;
}
.iconContainer:nth-child(8) {
  color: #de204c;
}
.iconContainer:nth-child(9) {
  color: #4986b4;
}
.iconContainer:nth-child(10) {
  color: #59b2e7;
}
.iconContainer:nth-child(11) {
  color: #f15639;
}
.iconContainer:nth-child(12) {
  color: #7ec727;
}
.iconContainer:nth-child(13) {
  color: #f29c37;
}
.iconContainer:nth-child(14) {
  color: #52b3e0;
}

@media screen and (max-width: 767px) {
  .container {
    grid-column: none;
    height: auto;
    margin: 1rem auto;
    width: 90%;
    padding: 0 0.7rem;
  }
  .title {
    font-size: 2.5rem;
  }

  .iconContainer {
    width: 3rem;
    height: 3rem;
    padding: .2rem;
    border-radius: .5rem;
    outline: 2px solid #dad60e;
    box-shadow: -3px 3px 0 2px #dad60e;
  }
}
