.container{
  grid-column: 2/3;
  color: #fff;
  width: 90%;
  margin: 1rem 0 3rem;
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
  border-radius: 1rem;
  scroll-margin-top: 1ex;
}

.title{
  width: 100%;
  text-align: center;
  color: transparent;
  font-size: 4rem;
  text-shadow: 0 0 0 #dad60e, 0 5px 0 #7c7b19;
  margin: 1rem 0;
}

.content{
  width: 100%;
  margin: 1rem;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
  border-radius: 2rem;
}

.icon{
  width: 90%;
  height: 90%;
}

.iconContainer{
  width: 7rem;
  height: 7rem;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  outline: 2px solid #888;
  box-shadow: -5px 5px 0 2px #888;
  transition: .3s;
}

.iconContainer:hover{
  scale: 1.2;
  outline: 2px solid #dad60e;
  box-shadow: -5px 5px 0 2px #dad60e;
}

.iconContainer:nth-child(1){
  color: #F64A1D;
}
.iconContainer:nth-child(2){
  color: #0068BA;
}
.iconContainer:nth-child(3){
  color: #F7DF1E;
}
.iconContainer:nth-child(4){
  color: #7EC727;
}
.iconContainer:nth-child(5){
  color: #1399C4;
}
.iconContainer:nth-child(6){
  color: #7649BB;
}
.iconContainer:nth-child(7){
  color: #097ECD;
}
.iconContainer:nth-child(8){
  color: #143A51;
}
.iconContainer:nth-child(9){
  color: #4986b4;
}
.iconContainer:nth-child(10){
  color: #59B2E7;
}
.iconContainer:nth-child(11){
  color: #F15639;
}
.iconContainer:nth-child(12){
  color: #7EC727;;
}
