.container{
  grid-column: 2/3;
  color: #fff;
  width: 80%;
  height: 30rem;
  margin: 3rem 1rem;
  padding: 1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: space-around;
  border-radius: 1rem;
  scroll-margin-top: 1.4ex;
}

.title{
  font-family: 'Martian Mono', monospace;
  color: #31d639;
  font-size: 4.5rem;
  margin-bottom: 2rem;
  border-bottom: 3px solid #31d639;
  text-shadow: 4px 4px 0 #155318;
}

.text{
  font-size: 2rem;
  text-shadow: 3px 3px 0 #4d4c4c;
  text-align: justify;
}

.span{
  font-family: 'Martian Mono', monospace;
  color: #13ad1b;
  text-shadow: 3px 3px 0 #043106; 
}