.container {
  background-color: #000;
  width: 100%;
  padding: 0.5rem 0;
  margin: auto;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: sticky;
  top: calc(1px - 1px);
  z-index: 100;
  outline: 1px solid #fff;
  box-shadow: 0 0 15px #4d4c4c;
}

.devCon {
  background: linear-gradient(to right, #2ae9f7, #8a14ce);
}

.dev {
  width: 100%;
  height: 100%;
  background-color: #000;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  mix-blend-mode: multiply;
  text-decoration: none;
}

.menu {
  visibility: hidden;
}

.btn {
  text-decoration: none;
  font-weight: 400;
  font-size: 2rem;
  cursor: pointer;
  padding: 0 1rem;
  border-bottom: 3px solid transparent;
  color: #fff;
  transition: 0.2s;
}

.btn:nth-child(1):hover {
  color: #d63131;
  border-bottom: 3px solid #d63131;
}

.btn:nth-child(2):hover {
  color: #a134e0;
  border-bottom: 3px solid #8f2cc9;
}

.btn:nth-child(3):hover {
  color: #31d639;
  border-bottom: 3px solid #31d639;
}

.btn:nth-child(4):hover {
  color: #e4f54a;
  border-bottom: 3px solid #e4f54a;
}

@media screen and (max-width: 767px) {
  .container {
    background-color: #000;
    width: 100vw;
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    justify-content: center;
    align-items: center;
    outline: 1px solid #fff;
    box-shadow: 0 0 15px #4d4c4c;
  }

  .dev {
    font-size: 1.7rem;
  }

  .menu {
    visibility: visible;
    font-size: 1.8rem;
  }

  .btn {
    margin: 0 0.3rem;
    padding: 0 0.2rem;
  }

  .contBtn {
    visibility: hidden;
    position: absolute;
  }

  .contBtnMov {
    display: flex;
  }

  .btn {
    font-size: 1.2rem;
  }

  .span{
  font-size: 1.2rem;
  }

  /* aside */
  .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 1rem;
    margin: 0.7rem 0 .2rem;
  }

  .a {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: #fff;
  }
  .icon {
    font-size: 2rem;
  }

  .a:nth-child(2) .icon {
    color: #fff;
  }

  .a:nth-child(3) .icon {
    /* background-color: #fff; */
    color: #a70f0f;
  }

  .a:nth-child(4) .icon {
    /* background-color: #fff; */
    color: #0a66c2;
  }

  .a:nth-child(5) .icon {
    /* background-color: #fff; */
    color: #0cc243;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .devCon {
    background: linear-gradient(to right, #2ae9f7, #8a14ce);
  }

  .dev {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 1.2rem;
  }
}
